[Desktop Entry]
Version=1.0
Type=Application
Name=VICE Game Launcher
Comment=Launch Commodore 64 games through VICE
Exec=/media/medaLib/Development/vice-Launcher/dist/vice-launcher
Icon=applications-games
Terminal=false
Categories=Game;
